<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Tipo de Cambio</title>
    <link rel="stylesheet" href="/static/style.css">
</head>
<body>
    <div class="container">
    
    <header>
    Dólar<span>Perú</span>
    </header>
    
    <nav>
        <a href="#">Fintechs</a>
        <a href="#">Bancos</a>
        <a href="#">Canales Oficiales</a>
        <a href="#">Noticias</a>
        <a href="#">Calculadora</a>
    </nav>

    <main>
        <div class="title">
            Valor de Venta del <span>Dólar</span>
        </div>
        <div class="actualizado">
            Actualizado: {{ promedio_time }}
        </div>
        <div class="promedio">
            Promedio: {{ promedio }}
        </div>
        <div class="graphs">
            <img class="intraday" src="{{ url_for('static', filename='images/intraday-venta.png') }}" alt="">
            <img class="last-5-days" src="{{ url_for('static', filename='images/last5days-venta.png') }}" alt="">
            <img class="last-30-days" src="{{ url_for('static', filename='images/last30days-venta.png') }}" alt="">
        </div>
        <div class="main-info">
            <div class="quote-box-left">
                {% for image in images1 %}
                    <p class="quotes-left">
                        <img class="logos" src="{{ url_for('static', filename='images/'+image) }}">
                        {{ quotes1[loop.index0] }}
                    </p>
                {%endfor%}
            </div>
            <div class="quote-box-right">
                {% for image in images2 %}
                    <p class="quotes-right">
                        {{ quotes2[loop.index0] }}
                        <img class="logos" src="{{ url_for('static', filename='images/'+image) }}">
                        
                        
                    </p>
                {%endfor%}
            </div>
        </div>
    </main>

    <footer>
        Derechos Reservados: GFT 2021

    </footer>

</div>
</body>
</html>