<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Tipo de Cambio</title>
    <link rel="stylesheet" href="/static/style.css">
</head>
<body>
    <div class="container">
    
    <header>
    Dólar<span>Perú</span>
    </header>

    <nav>
        <a href="#">Fintechs</a>
        <a href="#">Bancos</a>
        <a href="#">Canales Oficiales</a>
        <a href="#">Noticias</a>
        <a href="#">Calculadora</a>
    </nav>

    <main>
        <div class="title">
            Valor de Venta del <span>Dólar</span>
        </div>
        <div class="actualizado">
            Actualizado: {{ promedio_time }}
        </div>
        <div class="promedio">
            Venta Promedio: {{ promedio }}
        </div>

        <div class="main-info">
            <div class="quote-box">
                <table class="quotes"
                {% for row in latest %}
                    <tr>    
                        {% for item in row %}
                            <td>{{ item }}</td>
                        {%endfor%}
                    </tr>
                {%endfor%}
            </table>
            </div>
        </div>
    </main>

    <footer>
        Derechos Reservados: GFT 2021

    </footer>

</div>
</body>
</html>